// CSS Reset Start -- CSS Reset Start -- CSS Reset Start

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: black;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

ul {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

// CSS Reset End -- CSS Reset End -- CSS Reset End

// General Styles

:root {
    --mainHeaderFont: 'Bebas Neue', serif;
    --secondaryHeaderFontFamily: 'Playfair Display', serif;
    --paragraphFontFamily: 'Montserrat', serif;
    --defaultTextDisplayAnimationDuration: 0.5s ease-out;
    --red: #8b0000;
    --semiTransparentRed: rgb(139, 0, 0, 0.5);
    --darkgrey: #171717;
    --semiTransparentDarkgrey: rgb(23,23,23,0.9);
    --white: white;
    --black: black;
}

h1, h2, h3, h4 {
    font-family: var(--mainHeaderFont);
}

p {
    font-family: var(--paragraphFontFamily);
}

// Header Section -- Header Section -- Header Section 

.headerContainer {
    width: 100%;
    height: 100%;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    font-family: var(--paragraphFontFamily);
    font-weight: 900;
    background-color: var(--black);
    align-items: center;
    .headerLogo {
        width: fit-content;
        height: 100%;
        z-index: 5;
        .logoContainer {
            width: fit-content;
            height: 100%;
            .performanteLogoLink {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                .PerformanteLogo {
                    max-height: 75px;
                    max-width: 75px;
                    flex-shrink: 0;
                }
                .textLogo {
                    max-height: 30px;
                    flex-shrink: 0;
                    @media screen and (max-width: 1300px) {
                        display: none;
                    }
                }
            }
        }
    }
    .headerSelections {
        display: flex;
        min-height: 100%;
        align-items: center;
        .navMenu {
            padding: 0em 2em;
            align-items: center;
            height: 100%;
            z-index: 1;
            .mobileViewButton {
                height: 100%;
                width: 100%;
                display: none;
                z-index: 5;
                .mobileNavDisplayButton {
                    min-width: 45px;
                    min-height: 40px;
                    border-radius: 20px;
                    border: var(--white) 3px solid;
                    color: var(--black);
                    cursor: pointer;
                    align-self: center;
                    align-items: center;
                    position: relative;
                    z-index: 5;
                    background-color: var(--black);
                    .hamburgerLine {
                        height: 3px;
                        width: 50%;
                        background-color: var(--white);
                        content: '';
                        position: absolute;
                        left: 25%;
                        right: 0;
                        transition: 0.5s;
                    }
                    .line1 {
                        transform: translateY(6px);
                    }
                    .line3 {
                        transform: translateY(-6px);
                    }
                }
            }
            .mainNav {
                display: flex;
                flex-direction: row;
                gap: 2em;
                align-items: center;
                height: 100%;
                margin: 0;
                transition: 0.5s;
                position: relative;
                li {
                    color: var(--white);
                    position: relative;
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
                li::after {
                    content: '';
                    height: 2px;
                    width: 0%;
                    background-color: var(--white);
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    transition: 0.3s ease-in-out;
                }
                .dropDownmenu {
                    transition: 0.5s ease-in-out;
                }
                .subNav {
                    display: none;
                    position: absolute;
                    padding: 0.5em 2em;
                    background-color: var(--semiTransparentDarkgrey);
                    a {
                        padding: 0.5rem;
                    }
                }
                .toolLink:hover .subNav-Tools {
                    display: block;
                    z-index: 10;
                }
                .PCCNftLink:hover .subNav-NFT {
                    display: block;
                    z-index: 10;
                }
                @media screen and (max-width: 1000px) {
                    .headerItem {
                        text-align: center;
                    }
                    .subNav {
                        position: relative;
                    }
                }
            }
        }
        .headerCTA {
            display: flex;
            align-items: center;
            z-index: 5;
            .headerCTAlink {
                overflow: hidden;
                button {
                    min-width: 130px;
                    min-height: 40px;
                    border-radius: 20px;
                    border: 3px solid var(--white);
                    color: var(--white);
                    background: var(--black);
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    transition: 0.2s ease-in-out;
                    overflow: hidden;
                    span {
                        position: absolute;
                        margin: 0 auto;
                        transition: 0.5s ease-in-out;
                    }
                    .display {
                        opacity: 1;
                    }
                    .onHover {
                        color: var(--red);
                        transform: translateY(100%);
                        opacity: 0;
                    }
                    &:hover .display {
                        transform: translateY(-100%);
                        opacity: 0;
                    }
                    &:hover .onHover {
                        transform: translate(0%);
                        opacity: 1;
                    }
                    &:hover {
                        background: var(--white);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1000px) {
        & {
            padding: 1em;
            .headerSelections {
                width: 100%;
                justify-content: flex-end;
                .navMenu {
                    padding: 5%;
                    .mobileViewButton {
                        display: flex;
                    }
                    .mainNav {
                        position: absolute;
                        flex-direction: column;
                        width: 100%;
                        left: 0;
                        padding: 0;
                        padding-top: 2em;
                        font-size: 1.5rem;
                        transform: translateY(-120%);
                        opacity: 0;
                    }
                    .displayMobileHeader {
                        transform: translateY(0%);
                        opacity: 1;
                        height: fit-content;
                        padding-bottom: 2em;
                        background-color: var(--black);
                        box-shadow: 0px 15px 15px 0px var(--black);
                        .headerItem {
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }
}

// footer
.footerContainer {
    background-color: var(--semiTransparentDarkgrey);
    z-index: 10;
    position: relative;
    .footerPanel {
        min-height: 50vh;
        background-color: var(--darkgrey);
        border-top: 1px var(--white) solid;
        border-right: 1px var(--white) solid;
        border-left: 1px var(--white) solid;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 100%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: inset 0px 0px 15px 0px var(--black), 0px 0px 15px 0px var(--black);
        @media screen and (max-width: 400px) {
            & {
                width: 90%;
            }
        }
        .footerLogos {
            width: 100%;
            margin: 2em 0em;
            display: flex;
            justify-content: center;
            a {
                width: fit-content;
                display: flex;
                flex-direction: row;
                justify-content: center;
                img {
                    height: 2rem;
                }
                .performanteText {
                    filter: invert(99%) sepia(100%) saturate(6%) hue-rotate(108deg) brightness(102%) contrast(103%);
                }
            }
            @media screen and (max-width: 400px) {
                & {
                    a {
                        flex-direction: column;
                        padding: 0em 25%;
                        img {
                            height: auto;
                        }
                    }
                }
            }
        }
        .socialMediaContainer {
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 2em;
            position: relative;
            width: 100%;
            .footerIcon {
                filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(88deg) brightness(106%) contrast(101%);
                font-size: 2.5rem;
                height: 3.3rem;
                width: 3.3rem;
                display: flex;
                justify-content: center;
                .fa-brands {
                    transform: translateY(1em);
                    opacity: 0;
                    transition: 1.5s ease-out;
                }
            }
            .Discord {
                filter: invert(42%) sepia(58%) saturate(5089%) hue-rotate(357deg) brightness(89%) contrast(81%);
            }
            @media screen and (max-width: 800px) {
                & {
                    gap: 0.5em;
                    .footerIcon {
                        height: 2rem;
                        width: 2rem;
                        font-size: 1.6rem;
                    }
                }
            }
            @media screen and (max-width: 350px) {
                & {
                    gap: 0.2em;
                    .footerIcon {
                        font-size: 1.4rem;
                    }
                }
            }
        }
        .terms {
            display: flex;
            width: 100%;
            justify-content: center;
            margin: 3em 0em;
            gap: 2rem;
            @media screen and (max-width: 500px) {
                gap: 0.5em;
            }
            .links {
                a {
                    text-decoration: none;
                    color: var(--white);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .termsOfService {
                position: relative;
            }
            @media screen and (max-width: 400px) {
                flex-direction: column;
                text-align: center;
            }
        }
    }
}