// CSS Reset Start -- CSS Reset Start -- CSS Reset Start

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: black;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

ul {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

// CSS Reset End -- CSS Reset End -- CSS Reset End

// General Styles

:root {
    --mainHeaderFont: 'Bebas Neue', serif;
    --secondaryHeaderFontFamily: 'Playfair Display', serif;
    --paragraphFontFamily: 'Montserrat', serif;
    --defaultTextDisplayAnimationDuration: 0.5s ease-out;
    --red: #8b0000;
    --darkgrey: #171717;
    --semiTransparentDarkgrey: rgb(23,23,23,0.9);
    --white: white;
    --black: black;
}

h1, h2, h3, h4 {
    font-family: var(--mainHeaderFont);
}

p {
    font-family: var(--paragraphFontFamily);
}

// Header Section -- Header Section -- Header Section 

.headerContainer {
    width: 100%;
    height: 100%;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    font-family: var(--paragraphFontFamily);
    font-weight: 900;
    background-color: var(--black);
    align-items: center;
    .headerLogo {
        width: fit-content;
        height: 100%;
        z-index: 5;
        .logoContainer {
            width: fit-content;
            height: 100%;
            .performanteLogoLink {
                cursor: pointer;
                .PerformanteLogo {
                    max-height: 75px;
                    max-width: 75px;
                    flex-shrink: 0;
                }
            }
        }
    }
    .headerSelections {
        display: flex;
        min-height: 100%;
        align-items: center;
        .navMenu {
            padding: 0em 2em;
            align-items: center;
            height: 100%;
            z-index: 1;
            .mobileViewButton {
                height: 100%;
                width: 100%;
                display: none;
                z-index: 5;
                .mobileNavDisplayButton {
                    min-width: 45px;
                    min-height: 40px;
                    border-radius: 20px;
                    border: var(--white) 3px solid;
                    color: var(--black);
                    cursor: pointer;
                    align-self: center;
                    align-items: center;
                    position: relative;
                    z-index: 5;
                    background-color: var(--black);
                    .hamburgerLine {
                        height: 3px;
                        width: 50%;
                        background-color: var(--white);
                        content: '';
                        position: absolute;
                        left: 25%;
                        right: 0;
                        transition: 0.5s;
                    }
                    .line1 {
                        transform: translateY(6px);
                    }
                    .line3 {
                        transform: translateY(-6px);
                    }
                }
            }
            .mainNav {
                display: flex;
                flex-direction: row;
                gap: 2em;
                align-items: center;
                height: 100%;
                margin: 0;
                transition: 0.5s;
                li {
                    color: var(--white);
                    position: relative;
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
                li::after {
                    content: '';
                    height: 2px;
                    width: 0%;
                    background-color: var(--white);
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    transition: 0.3s ease-in-out;
                }
            }
            .subNav {
                display: none;
            }
        }
        .headerCTA {
            display: flex;
            align-items: center;
            z-index: 5;
            .headerCTAlink {
                max-width: 130px;
                max-height: 40px;
                overflow: hidden;
                button {
                    min-width: 130px;
                    min-height: 40px;
                    border-radius: 20px;
                    border: 3px solid var(--white);
                    color: var(--white);
                    background: var(--black);
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    transition: 0.2s ease-in-out;
                    overflow: hidden;
                    span {
                        position: absolute;
                        margin: 0 auto;
                        transition: 0.5s ease-in-out;
                    }
                    .display {
                        opacity: 1;
                    }
                    .onHover {
                        color: var(--red);
                        transform: translateY(100%);
                        opacity: 0;
                    }
                    &:hover .display {
                        transform: translateY(-100%);
                        opacity: 0;
                    }
                    &:hover .onHover {
                        transform: translate(0%);
                        opacity: 1;
                    }
                    &:hover {
                        background: var(--white);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1000px) {
        & {
            padding: 1em;
            .headerSelections {
                width: 100%;
                justify-content: flex-end;
                .navMenu {
                    padding: 5%;
                    .mobileViewButton {
                        display: flex;
                    }
                    .mainNav {
                        position: absolute;
                        flex-direction: column;
                        width: 100%;
                        left: 0;
                        padding: 0;
                        padding-top: 2em;
                        font-size: 1.5rem;
                        transform: translateY(-120%);
                        opacity: 0;
                    }
                    .displayMobileHeader {
                        transform: translateY(0%);
                        opacity: 1;
                        height: fit-content;
                        padding-bottom: 2em;
                        background-color: var(--black);
                        box-shadow: 0px 15px 15px 0px var(--black);
                        .headerItem {
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }
}

// Hero Section  -- Hero Section  -- Hero Section -- Hero Section
.heroSection {
    height: fit-content;
    width: 100%;
    position: relative;
    align-items: center;
    min-height: 20em;
    max-height: 40em;
    .videoContainer {
        height: 100%;
        width: 100%;
        .videoElement {
            height: 100%;
            width: 100%;
            object-fit: contain;
            flex-shrink: 0;
        }
    }
    .heroTextContainer {
        top: 20%;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        color: var(--white);
        .heroHeadingContainer {
            width: 100%;
            h1 {
                font-size: 12vmin;
                max-width: 700px;
                font-family: var(--mainHeaderFont);
                letter-spacing: 3px;

                margin: 0 auto;
                padding: 0em 10%;
                cursor: default;
                text-align: center;
                .redLetter {
                    color: var(--red);
                    text-shadow: 1px 1px 1px var(--white);
                    transition: 1s;
                }
                .secondredLetter {
                    margin-left: -1em
                }
                .thirdredLetter {
                    margin-left: -2.1em;
                }
                .whiteLettering {
                    text-shadow: 1px 1px 1px var(--red);
                    opacity: 0;
                    transition: 1s;
                    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
                }
            }
        }
        .heroSubHeadingContainer {
            font-family: var(--secondaryHeaderFontFamily);
            font-size: 5vmin;
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            p {
                font-family: var(--paragraphFontFamily);
                cursor: default;
            }
        }
        .headerCTAlink {
            max-width: 150px;
            max-height: 40px;
            overflow: hidden;
            opacity: 0;
            transform: translateY(1em);
            transition: 0.5s ease-out;
            button {
                font-family: var(--paragraphFontFamily);
                min-width: 150px;
                min-height: 40px;
                border-radius: 20px;
                border: 3px solid var(--white);
                color: var(--white);
                background: var(--black);
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: 0.2s ease-in-out;
                padding: 0em 1.2em;
                z-index: 10;
                overflow: hidden;
                span {
                    position: absolute;
                    margin: 0 auto;
                    transition: 0.5s ease-in-out;
                }
                .display {
                    opacity: 1;
                }
                .onHover {
                    color: var(--red);
                    transform: translateY(100%);
                    opacity: 0;
                }
                &:hover .display {
                    transform: translateY(-100%);
                    opacity: 0;
                }
                &:hover .onHover {
                    transform: translate(0%);
                    opacity: 1;
                }
                &:hover {
                    background: var(--white);
                }
            }
        }
        @media screen and (max-width: 1000px) {
            & {
                padding: 0em 1em;
                text-align: center;
                top: 10%;
                .heroHeadingContainer {
                    h1 {

                    }
                }
                .heroSubHeadingContainer {
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

// Our Vison Section
.ourVisionSection {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 4em;
    .CrosspageAnimationContainer {
        width: 100%;
        height: fit-content;
        margin-top: 4em;
        @media screen and (max-width: 750px) and (min-width: 450px) {
            margin-top: 6em;
        }
        .textContainer {
            width: 100%;
            height: fit-content;
            overflow: hidden;
            .crosspageText {
                position: relative;
                font-family: 'Rowdies', serif;
                color: rgb(14, 14, 14);
                font-size: 40vmin;
                text-shadow: 1px 1px rgb(108, 108, 108), -1px -1px rgb(108, 108, 108);
                cursor: default;
                @media screen and (max-width: 1000px) {
                    & {
                        font-size: 20vmin;
                    }
                }
            }
        }
    }
    .visionContentContainer {
        color: var(--white);
        height: 100vh;
        display: flex;
        .visonTextContainer {
            width: 100%;
            height: 100vh;
            padding: 0em 10%;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3 {
                font-size: 5vmax;
                font-family: var(--mainHeaderFont);
                position: relative;
                width: fit-content;
                cursor: default;
                span {
                    text-shadow: 2px 2px 1px var(--red), -2px -2px 1px var(--red);
                }
                & {
                    &::after {
                        position: absolute;
                        left: 0;
                        bottom: 10%;
                        content: '';
                        height: 2px;
                        width: 100%;
                        background-color: var(--red);
                    }
                }
            }
            p {
                font-family: var(--paragraphFontFamily);
                font-size: 1.2rem;
                cursor: default;
                span {
                    font-weight: bolder;
                    text-shadow: 1px 1px 1px var(--red), -1px -1px 1px var(--red);
                }
            }
        }
        .visionPhoneContainer {
            width: 100%;
            height: 100%;
            .phoneListContainer {
                display: flex;
                transform: rotate(30deg);
                width: 100%;
                height: 100%;
                .phoneContainer {
                    height: 100%;
                    width: 100%;
                    .phoneListTwo {
                        transform: translateY(-500px);
                    }
                }
            }
        }
        @media screen and (max-width: 1000px) {
            & {
                flex-direction: column;
                margin-top: 10%;
                .visonTextContainer {
                    width: 80%;
                    padding: 2em 10%;
                    margin-bottom: 15%;
                }
            }
        }
        @media screen and (max-width: 500px) {
            .visonTextContainer {
                width: 80%;
                padding: 2em 10%;
                margin-bottom: 5%;
            }
        }
    }
    .gettingStartedContainer {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
        position: relative;
        .gettingStartedpanel {
            z-index: 5;
            position: absolute;
            top: 0;
            background-color: var(--semiTransparentDarkgrey);
            height: fit-content;
            margin: 0em 10%;
            padding: 5%;
            border-radius: 25px;
            border: 1px solid var(--white);
            box-shadow: 0px 0px 20px 5px var(--black), inset 0px 0px 20px 5px var(--black);
            margin-top: -10em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1em;
            h3 {
                color: var(--white);
                width: 100%;
                text-align: center;
                margin-bottom: 1em;
                font-size: 5vmax;
                font-family: var(--mainHeaderFont);
                position: relative;
                width: fit-content;
                margin: 0 auto;
                cursor: default;
                span {
                    text-shadow: 1px 1px 1px var(--red), -1px -1px 1px var(--red);
                }
                &::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: var(--red);
                    bottom: 10%;
                    left: 0;
                    position: absolute;
                }
            }
            .participationStepContainer {
                color: var(--white);
                position: relative;
                .participationStep {
                    text-align: center;
                    width: 100%;
                    z-index: 5;
                    display: flex;
                    .headerArrowContainer {
                        display: flex;
                        flex-direction: column;
                        justify-content: left;
                        align-items: baseline;
                        position: relative;
                        h4 {
                            z-index: 5;
                            font-family: var(--mainHeaderFont);
                            font-size: 4vmax;
                            min-width: 5em;
                            text-align: left;
                            cursor: default;
                            text-shadow: 1px 1px 1px var(--red), -1px -1px 1px var(--red);
                            @media screen and (max-width: 1000px) {
                                & {
                                    min-width: 130px;
                                }
                            }
                        }
                        img {
                            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(220deg) brightness(103%) contrast(109%);
                            animation: arrowAnimation infinite ease-in-out 3s;
                            transform: translateY(-1em) rotate(90deg) scale(0.5);
                            @keyframes arrowAnimation {
                                0% {
                                    transform: translateY(-1em) rotate(90deg) scale(0.5);
                                }
                                50% {
                                    transform: translateY(0em) rotate(90deg) scale(0.5);
                                }
                                100% {
                                    transform: translateY(-1em) rotate(90deg) scale(0.5);
                                }
                            }
                        }
                        .secondArrow {
                            animation-delay: 0.5s;
                        }
                        .finalArrow {
                            opacity: 0;
                        }
                        &::before {
                            content: '';
                            top: 0;
                            bottom: 0;
                            left: -10%;
                            width: 2px;
                            height: 70%;
                            background-color: var(--red);
                            position: absolute;
                        }
                    }
                    p {
                        z-index: 5;
                        margin-bottom: 10%;
                        text-align: left;
                        padding-top: 3%;
                        cursor: default;
                        @media screen and (max-width: 1000px) {
                            padding-top: 5px;
                        }
                        a {
                            text-decoration: underline;
                            text-decoration-color: var(--white);
                            color: var(--white);
                        }
                    }
                }
                .logoBackground {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    z-index: -1;
                    img {
                        position: relative;
                        min-height: 100%;
                        min-width: 100%;
                        object-fit: contain;
                        max-height: 5em;
                        z-index: 0;
                        filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(30%) contrast(200%);
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
    .aboutUsContainer {
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: right;
        justify-items: center;
        align-self: center;
        padding: 0em 3em;
        .aboutUsTextContainer {
            display: flex;
            flex-direction: column;
            justify-content: right;
            color: var(--white);
            width: 50%;
            align-self: center;
            margin-top: -10em;
            min-height: 40em;
            @media screen and (max-width: 1000px) {
                & {
                    width: 45%;
                    min-height: 45em;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    width: 60%;
                    min-height: 55em;
                }
            }
            @media screen and (max-width: 500px) {
                & {
                    width: 80%;
                    min-height: 70em;
                }
            }
            @media screen and (max-width: 300px) {
                & {
                    width: 90%;
                    min-height: 78em;
                }
            }
            h3 {
                font-family: var(--mainHeaderFont);
                font-size: 5vmax;
                position: relative;
                width: fit-content;
                cursor: default;
                span {
                    text-shadow: 2px 2px 1px var(--red), -2px -2px 1px var(--red);
                }
                &::after {
                    position: absolute;
                    content: '';
                    bottom: 10%;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    background-color: var(--red);
                }
            }
            p {
                font-size: 1.2rem;
                font-family: var(--paragraphFontFamily);
                z-index: 5;
                max-width: 30em;
                cursor: default;
                span {
                    text-shadow: 1px 1px 1px var(--red), -1px -1px 1px var(--red);
                }
            }
        }
    }
    .ourServicesSection {
        min-height: 100vh;
        width: 100%;
        margin-top: 2em;
        z-index: 10;
        background-color: var(--semiTransparentDarkgrey);
        padding: 3em 1em;
        position: relative;
        border-top: 1px solid var(--white);
        box-shadow: 0px 0px 20px 5px var(--black), inset 0px 0px 20px 5px var(--black);
        .tabs {
            position: relative;
            display: grid;
            [role="tablist"] {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-gap: 10px;
            }
            [role="tabpanel"] {
                padding: 2rem;
            }
            .tablist {
                text-align: center;
                .tabSelectionButton {
                    border: 0;
                    color: var(--white);
                    border-radius: 5px;
                    box-shadow: inset 0 -3px 10px var(--black);
                    cursor: pointer;
                    height: 1em;
                    margin: 1em 2em;
                    font-family: var(--paragraphFontFamily);
                    padding: 1em;
                    padding-bottom: 2.5em;
                    background: linear-gradient(0deg, rgba(139,0,0,1) 73%, rgba(0,0,0,1) 100%);
                    transition: 0.5s;
                }
                .tabSelectionButton[aria-selected="true"] {
                    background: var(--red);
                    box-shadow: none;
                    color: var(--white);
                }
              
                .tabSelectionButton:focus {
                    outline: 5px;
                    color: var(--white);
                }
            }
            .tabPanelDiv {
                .tabPanelInfoContainer {
                    z-index: 10;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    width: 100%;
                    @media screen and (max-width: 1000px) {
                        grid-template-columns: 1fr;
                        .tabPanelp {
                            grid-row-start: 1;
                        }
                    }
                    img {
                        width: 100%; 
                        object-fit: cover;

                    }
                    p {
                        color: var(--white);
                        width: 100%;
                        align-self: center;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

// footer
.footerContainer {
    min-height: 50vh;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(21,21,21,1) 100%);
    .socialMediaContainer {

    }
}