// Hero Section  -- Hero Section  -- Hero Section -- Hero Section
.heroSection {
    height: fit-content;
    width: 100%;
    position: relative;
    align-items: center;
    min-height: 33em;
    max-height: 80vh;
    @media screen and (max-width: 400px) {
        min-height: 25em;
    }
    .videoContainer {
        height: 100%;
        width: 100%;
        .videoElement {
            height: 100%;
            width: 100%;
            object-fit: contain;
            flex-shrink: 0;
            pointer-events: none;
        }
        .imageElement {
            display: none;
            height: 100%;
            width: 100%;
            object-fit: contain;
            flex-shrink: 0;
            pointer-events: none;
        }
        @media screen and (max-width: 450px) {
            .videoElement {
                height: 100%;
                width: 100%;
                object-fit: contain;
                flex-shrink: 0;
                pointer-events: none;
                display: none;
            }
            .imageElement {
                display: none;
                height: 100%;
                width: 100%;
                object-fit: contain;
                flex-shrink: 0;
                pointer-events: none;
                display: block;
            }
        }
    }
    .heroTextContainer {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        color: var(--white);
        .heroHeadingContainer {
            width: 100%;
            .heroTitleSingleTextContainer {
              margin-bottom: -2rem;
            }
            h1 {
                font-size: 10vmin;
                max-width: 30em;
                font-family: var(--mainHeaderFont);
                letter-spacing: 3px;
                margin: 0 auto;
                padding: 0em 10%;
                cursor: default;
                text-align: center;
                .redLetter {
                    color: var(--white);
                    text-shadow: 1px 1px 1px var(--white);
                    transition: 1s;
                    font-size: 12vmin;
                    text-shadow: 2px 2px 1px var(--red), -2px -2px 1px var(--red);
                }
                .secondredLetter {
                    margin-left: -0.8em
                }
                .thirdredLetter {
                    margin-left: -1.75em;
                }
                .whiteLettering {
                    opacity: 0;
                    transition: 1s;
                    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
                }
            }
        }
        .heroSubHeadingContainer {
            font-family: var(--secondaryHeaderFontFamily);
            font-size: 4vmin;
            max-width: 20em;
            margin: 0 auto;
            text-align: center;
            p {
                font-family: var(--paragraphFontFamily);
                cursor: default;
                text-shadow: 1px 1px 0px var(--black);
            }
        }
        .headerCTAlink {
            overflow: hidden;
            opacity: 0;
            transform: translateY(1em);
            transition: 0.5s ease-out;
            button {
                font-family: var(--paragraphFontFamily);
                min-width: 150px;
                min-height: 40px;
                border-radius: 20px;
                border: 3px solid var(--white);
                color: var(--white);
                background: var(--black);
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: 0.2s ease-in-out;
                padding: 0em 1.2em;
                z-index: 10;
                overflow: hidden;
                span {
                    position: absolute;
                    margin: 0 auto;
                    transition: 0.5s ease-in-out;
                }
                .display {
                    opacity: 1;
                }
                .onHover {
                    color: var(--red);
                    transform: translateY(100%);
                    opacity: 0;
                }
                &:hover .display {
                    transform: translateY(-100%);
                    opacity: 0;
                }
                &:hover .onHover {
                    transform: translate(0%);
                    opacity: 1;
                }
                &:hover {
                    background: var(--white);
                }
            }
        }
        @media screen and (max-width: 1000px) {
            & {
                padding: 0em 1em;
                text-align: center;
                top: 5%;
                .heroSubHeadingContainer {
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

// Our Vison Section
.ourVisionSection {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 4em;
    .CrosspageAnimationContainer {
        width: 100%;
        height: fit-content;
        .textContainer {
            width: 100%;
            height: fit-content;
            overflow: hidden;
            .crosspageText {
                position: relative;
                font-family: 'Rowdies', serif;
                color: rgb(14, 14, 14);
                font-size: 40vmin;
                text-shadow: rgb(255 255 255 / 50%) -1px 0, rgb(255 255 255 / 30%) 0 -1px, rgb(255 255 255 / 50%) 0 1px, rgb(255 255 255 / 30%) -1px -2px;
                cursor: default;
                @media screen and (max-width: 1000px) {
                    & {
                    }
                }
            }
        }
    }
    .visionContentContainer {
        color: var(--white);
        height: 100vh;
        display: flex;
        .visonTextContainer {
            width: 100%;
            height: 100vh;
            padding: 0em 10%;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3 {
                font-size: 5vmax;
                font-family: var(--mainHeaderFont);
                position: relative;
                width: fit-content;
                cursor: default;
                transition: 0.5s ease-out;
                span {
                    text-shadow: 2px 2px 1px var(--red), -2px -2px 1px var(--red);
                }
                &::after {
                    position: absolute;
                    left: 0;
                    bottom: 10%;
                    content: '';
                    height: 2px;
                    width: 0%;
                    background-color: var(--red);
                    transition: 1.5s ease-out;
                }
            }
            .showUnderline::after {
                width: 100%;
            }
            p {
                font-family: var(--paragraphFontFamily);
                font-size: 1.2rem;
                cursor: default;
                span {
                    font-weight: bolder;
                    text-shadow: 1px 1px 1px var(--red), -1px -1px 1px var(--red);
                }
            }
        }
        .visionPhoneContainer {
            width: 100%;
            height: 100%;
            .phoneListContainer {
                display: flex;
                transform: rotate(30deg);
                width: 100%;
                height: 100%;
                .phoneContainer {
                    height: 100%;
                    width: 100%;
                    .phoneListTwo {
                        transform: translateY(-500px);
                    }
                }
            }
        }
        @media screen and (max-width: 1000px) {
            & {
                flex-direction: column;
                margin-top: 10%;
                .visonTextContainer {
                    width: 80%;
                    padding: 2em 10%;
                    margin-bottom: 15%;
                }
            }
        }
        @media screen and (max-width: 500px) {
            .visonTextContainer {
                width: 80%;
                padding: 2em 10%;
                margin-bottom: 5%;
            }
        }
    }
    .gettingStartedContainer {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
        position: relative;
        .gettingStartedpanel {
            z-index: 5;
            position: absolute;
            top: 0;
            background-color: var(--semiTransparentDarkgrey);
            height: fit-content;
            margin: 0em 10%;
            padding: 5%;
            border-radius: 25px;
            border: 1px solid var(--white);
            box-shadow: 0px 0px 20px 5px var(--black), inset 0px 0px 20px 5px var(--black);
            margin-top: -10em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1em;
            h3 {
                color: var(--white);
                width: 100%;
                text-align: center;
                margin-bottom: 1em;
                font-size: 5vmax;
                font-family: var(--mainHeaderFont);
                position: relative;
                width: fit-content;
                margin: 0 auto;
                cursor: default;
                span {
                    text-shadow: 2px 2px 1px var(--red), -2px -2px 1px var(--red);
                }
            }
            .showUnderline::after {
                width: 100%;
            }
            .participationStepContainer {
                color: var(--white);
                position: relative;
                .participationStep {
                    text-align: center;
                    width: 100%;
                    z-index: 5;
                    display: flex;
                    .headerArrowContainer {
                        display: flex;
                        flex-direction: column;
                        justify-content: left;
                        align-items: baseline;
                        position: relative;
                        h4 {
                            z-index: 5;
                            font-family: var(--mainHeaderFont);
                            font-size: 4vmax;
                            min-width: 5em;
                            text-align: left;
                            cursor: default;
                            text-shadow: 1px 1px 1px var(--red), -1px -1px 1px var(--red);
                            @media screen and (max-width: 1000px) {
                                & {
                                    min-width: 90px;
                                }
                            }
                        }
                        .arrow {
                            transform: translateY(-2em) rotate(90deg) scale(0.5);
                            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
                            transition: 1s ease-out;
                            opacity: 0;
                        }
                        .finalArrow {
                            opacity: 0;
                        }
                        .arrowShowing {
                            transform: translateY(-0.5em) rotate(90deg) scale(0.5);
                            opacity: 1;
                        }
                        &::before {
                            content: '';
                            top: 0;
                            bottom: 0;
                            left: -10%;
                            width: 2px;
                            height: 0%;
                            background-color: var(--red);
                            position: absolute;
                            transition: 1.5s ease-out;
                        }
                    }
                    .showUnderline::before {
                        height: 70%;
                    }
                    p {
                        z-index: 5;
                        margin-bottom: 10%;
                        padding-left: 1em;
                        text-align: left;
                        padding-top: 3%;
                        cursor: default;
                        @media screen and (max-width: 1000px) {
                            padding-top: 5px;
                        }
                        a {
                            text-decoration: underline;
                            text-decoration-color: var(--white);
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }
    .aboutUsContainer {
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: right;
        justify-items: center;
        align-self: center;
        padding: 0em 3em;
        .aboutUsTextContainer {
            display: flex;
            flex-direction: column;
            justify-content: right;
            color: var(--white);
            width: 50%;
            align-self: center;
            margin-top: -10em;
            min-height: 40em;
            @media screen and (max-width: 1000px) {
                & {
                    width: 45%;
                    min-height: 45em;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    width: 60%;
                    min-height: 55em;
                }
            }
            @media screen and (max-width: 600px) {
                & {
                    min-height: 100%;
                    width: 80%;
                }
            }
            h3 {
                font-family: var(--mainHeaderFont);
                font-size: 5vmax;
                position: relative;
                width: fit-content;
                cursor: default;
                span {
                    text-shadow: 2px 2px 1px var(--red), -2px -2px 1px var(--red);
                }
                &::after {
                    position: absolute;
                    content: '';
                    bottom: 10%;
                    left: 0;
                    height: 2px;
                    width: 0%;
                    background-color: var(--red);
                    transition: 1.5s ease-out;
                }
            }
            .showUnderline::after {
                width: 100%;
            }
            p {
                font-size: 1.2rem;
                font-family: var(--paragraphFontFamily);
                z-index: 5;
                max-width: 30em;
                cursor: default;
                span {
                    text-shadow: 1px 1px 1px var(--red), -1px -1px 1px var(--red);
                }
            }
        }
    }
    .ourServicesSection {
        width: 100%;
        margin-top: 2em;
        z-index: 10;
        background-color: var(--semiTransparentDarkgrey);
        padding: 3em 1em;
        position: relative;
        border-top: 1px solid var(--white);
        .tabs {
            position: relative;
            display: grid;
            [role="tablist"] {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-gap: 10px;
            }
            [role="tabpanel"] {
                padding: 2rem;
            }
            .tablist {
                text-align: center;
                display: flex;
                justify-content: center;
                gap: 1em;
                flex-wrap: wrap;
                .tabSelectionButton {
                    min-width: 170px;
                    min-height: 40px;
                    border-radius: 20px;
                    border: 3px solid var(--white);
                    color: var(--white);
                    background: var(--black);
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    transition: 0.2s ease-in-out;
                    overflow: hidden;
                    font-family: var(--paragraphFontFamily);
                    font-size: 1rem;
                    span {
                        position: absolute;
                        margin: 0 auto;
                        transition: 0.5s ease-in-out;
                    }
                    .display {
                        opacity: 1;
                    }
                    .onHover {
                        color: var(--red);
                        transform: translateY(100%);
                        opacity: 0;
                    }
                    &:hover .display {
                        transform: translateY(-100%);
                        opacity: 0;
                    }
                    &:hover .onHover {
                        transform: translate(0%);
                        opacity: 1;
                    }
                    &:hover {
                        background: var(--white);
                    }
                }
                .tabSelectionButton[aria-selected="true"] {
                    background: var(--red);
                    box-shadow: none;
                    color: var(--white);
                    &:hover  span {
                        color: var(--white);
                    }
                }
              
                .tabSelectionButton:focus {
                    outline: 5px;
                    color: var(--white);
                }
            }
            .tabPanelDiv {
                .tabPanelInfoContainer {
                    z-index: 10;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    width: 100%;
                    @media screen and (max-width: 1000px) {
                        grid-template-columns: 1fr;
                        .tabPanelp {
                            grid-row-start: 1;
                        }
                    }
                    img {
                        width: 100%; 
                        object-fit: cover;

                    }
                    p {
                        color: var(--white);
                        width: 100%;
                        align-self: center;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
