// Heading style and animation
.headingsContainer {
    width: 100%;
    height: 100%;
    .animationContainer {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 800px;
        margin: 0 auto;
        justify-items: center;
        padding: 0em 2em;
        .headingContainer {
            margin: 0 auto;
            justify-content: center;
            align-self: center;
            h2 {
                color: var(--white);
                font-size: 7rem;
                letter-spacing: 0.4rem;
                text-shadow: 2px 2px 1px var(--red);
                cursor: default;
                z-index: 2;
                opacity: 0;
                span {
                    color: var(--red);
                    text-shadow: 2px 2px 1px var(--white), -2px -2px 1px var(--white);
                }
                @media screen and (max-width: 800px) {
                    & {
                        font-size: 15vmin;
                    }
                }
            }
            img {
                justify-items: center;
                align-self: center;
                transform: translateX(-4%);
                animation: arrowRightAnimation 5s infinite ease-in-out;
                z-index: -1;
                opacity: 0.6;
            }
            .shortArrow {
                display: none;
            }
            @media screen and (max-width: 600px) {
                & {
                    .longArrow {
                        display: none;
                    }
                    .shortArrow {
                        display: inline-block;
                    }
                }
            }
            .hideHeaderContentLeft {
                animation: pushHeadingRight 2s ease-out forwards;
            }
            .hideHeaderContentRight {
                animation: pushHeadingLeft 2s ease-out forwards;
                animation-delay: 0.7s;
            }
            @keyframes pushHeadingRight {
                from {
                    transform: translateX(-100%);
                    opacity: 0;
                }
                to {
                    transform: translateX(0%);
                    opacity: 1;
                }
            }
            @keyframes pushHeadingLeft {
                from {
                    transform: translateX(100%);
                    opacity: 0;
                }
                to {
                    transform: translateX(0%);
                    opacity: 1;
                }
            }
            @keyframes arrowRightAnimation {
                0% {
                    transform: translateX(-3%);
                    opacity: 0.6;
                } 
                50% {
                    transform: translateX(1.5%);
                    opacity: 1;
                } 
                100% {
                    transform: translateX(-3%);
                    opacity: 0.6;
                }
            }
        }
        .arrowContainer {
            z-index: -1;
        }
    }
}

// information about the Quiz and the Learn2Earn platform
.learnToEarnInfoContainer {
    min-height: 50vh;
    margin-top: 1em;
    background: linear-gradient(0deg, rgba(23,23,23,0.9) 0%, rgba(0,0,0,1) 100%);
    transition: 1.5s ease-in-out;
    overflow: hidden;
    .textContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
        margin: 3em 0em 6em 0em;
        cursor: default;
        p {
            max-width: 500px;
            color: var(--white);
            text-align: center;
            font-size: 1.2rem;
            margin: 0 auto;
            padding: 0em 1em;
            span {
                text-shadow: 1px 1px 1px var(--red), -1px -1px 1px var(--red);
            }
        }
        .simpleText {
            text-shadow: 2px 2px 1px var(--red), -2px -2px 1px var(--red);
        }
    }
    .phoneContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
        width: 100%;
        padding: 0em 2em;
        .graphicDesc {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            cursor: default;
            img {
                max-height: 450px;
            }
            p {
                color: var(--white);
                font-size: 2rem;
            }
        }
        .newsletterPhoneDiv {
            align-items: flex-end;
            animation: newsletterCTA 3s ease-in-out infinite;
            @keyframes newsletterCTA {
                0% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1.02);
                }
                100% {
                    transform: scale(1);
                }
            }
        }
        .clickToReadDiv {
            margin-top: 1em;
            .clickToReadText {
                span {
                    text-shadow: 2px 2px 1px var(--red), -2px -2px 1px var(--red);
                }
            }
            .newsletterArrow {
                margin-left: -2em;
                opacity: 0;
                transition: 2s ease-out;
                transform: rotate(-90deg) scale(0) translateX(-3em);
                max-height: 17em;
                max-width: 17em;
                width: 100%;
                @media screen and (max-width: 600px) {
                    & {
                        transform: rotate(0deg) scale(0.8) translateX(0em);
                        opacity: 1;
                    }
                }
            }
        }
        .benefitsTextDiv {
            justify-content: flex-end;
            align-items: flex-end;
            height: 100%;
            .benefitsText {
                text-align: left;
                min-width: 10em;
                margin-right: -1em;
                height: fit-content;
                background: var(--semiTransparentDarkgrey);
                border-radius: 20px;
                padding: 1em;
                padding-right: 5em;
                transform: translateX(8em);
                opacity: 0;
                transition: 2s ease-out;
                border: 1px solid var(--white);
                margin-bottom: 0.6em;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                p {
                    font-size: 1.2rem;
                    min-width: 6em;
                }
            }
        }
        .benefitsPhoneDiv {
            align-items: flex-start;
        }
        @media screen and (max-width: 1000px) {
            & {
                grid-template-columns: repeat(2, 1fr);
                .graphicDesc {
                    p {
                        font-size: 1rem;
                    }
                    .benefitsText {
                        min-width: 12em;
                        width: 80%;
                        margin-right: -0.5em;
                        height: fit-content;
                        background: var(--semiTransparentDarkgrey);
                        border-radius: 20px;
                        padding: 1em;
                        padding-right: 2em;
                        margin-bottom: 1.5em;
                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    .startButtonContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5em 0em;
        .startButtonDiv {
            overflow: hidden;
            transform: scale(1.5);
            button {
                min-width: 130px;
                min-height: 40px;
                border-radius: 20px;
                border: 3px solid var(--white);
                color: var(--white);
                background: var(--black);
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: 0.2s ease-in-out;
                overflow: hidden;
                font-family: var(--paragraphFontFamily);
                span {
                    position: absolute;
                    margin: 0 auto;
                    transition: 0.5s ease-in-out;
                }
                .display {
                    opacity: 1;
                }
                .onHover {
                    color: var(--red);
                    transform: translateY(100%);
                    opacity: 0;
                }
                &:hover .display {
                    transform: translateY(-100%);
                    opacity: 0;
                }
                &:hover .onHover {
                    transform: translate(0%);
                    opacity: 1;
                }
                &:hover {
                    background: var(--white);
                }
            }
        }
    }
}

// layout for the quiz questions
.quizQuestionContainer {
    background: linear-gradient(0deg, rgba(23,23,23,0.9) 0%, rgba(0,0,0,1) 100%);
    min-height: 0vh;
    height: 0em;
    transition: 1.2s ease-out;
    overflow: hidden;
    .editionTextDiv {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
        text-align: center;
        margin: 0 auto;
        align-items: center;
        opacity: 0;
        transition: 1.3s ease-out;
        transform: translateY(-5em);
        p {
            cursor: default;
        }
        .editionText {
            color: var(--white);
            font-family: var(--paragraphFontFamily);
            font-size: 2rem;
            position: relative;
            width: fit-content;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 2px;
                background-color: var(--red);
                border-radius: 50%;
            }
        }
        .goodLuck {
            font-size: 1.2rem;
            color: var(--white);
            font-family: var(--paragraphFontFamily);
            @media screen and (max-width: 550px) {
                font-size: 1rem;
            }
        }
    }
    .quizQuestionDiv {
        height: 100%;
        width: 100%;
        transition: 1.2s ease-out;
        transform: translateY(20em);
        opacity: 0;
        display: flex;
        justify-content: center;
        form {
            width: 85%;
            max-width: 800px;
            gap: 0.5rem;
            display: flex;
            flex-direction: column;
            margin: 3em 0.5em;
            padding: 1em;
            .progressbarContainer {
                content: '';
                height: 5px;
                border-radius: 20px;
                width: 100%;
                position: relative;
                overflow-X: hidden;
                .unfinishedProgress {
                    content: '';
                    position: absolute;
                    height: 100%;
                    left: 0;
                    right: 0;
                    width: 100%;
                    background-color: grey;
                    border-radius: 20px;
                }
                .finishedProgress {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    background-color: var(--red);
                    height: 100%;
                    width: 0%;
                    border-radius: 50px;
                    transition: 0.5s ease-in-out;
                }
            }
            .quizNavigation {
                display: flex;
                justify-content: row;
                width: 100%;
                i {
                    color: var(--white);
                    font-size: 2rem;
                    align-self: center;
                    margin: 10px;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                .fa-arrow-left {
                    opacity: 0;
                }
                .fa-arrow-left:hover {
                    transform: translateX(-5px);
                }
                .fa-arrow-right:hover {
                    transform: translateX(5px);
                }
                .injectedQuestions {
                    display: flex;
                    flex-direction: row;
                    padding: 1em;
                    // for the sideways scrolling 
                    position: relative;
                    overflow-x: auto;
                    scroll-snap-type: x mandatory;
                    -webkit-overflow-scrolling: touch;
                    scroll-behavior: smooth;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    .questionContainer {
                        // scroll code
                        scroll-behavior: smooth;
                        scroll-snap-align: center;

                        min-width: 90%;
                        min-height: 50vh;
                        display: flex;
                        flex-direction: column;
                        gap: 3em;
                        background-color: var(--semiTransparentRed);
                        transition: 0.75s ease-out;
                        border-radius: 20px;
                        margin: 1em;
                        padding: 2em;
                        justify-content: center;
                        align-items: center;
                        label {
                            color: var(--white);
                            font-family: var(--paragraphFontFamily);
                            font-weight: bolder;
                            max-width: 600px;
                            min-height: 50px;
                            opacity: 0;
                            transform: translateY(1em);
                            transition: 0.25s ease-out;
                        }
                        input {
                            margin-bottom: 3em;
                            font-family: var(--paragraphFontFamily);
                            min-height: 45px;
                            max-width: 600px;
                            width: 80%;
                        }
                        textarea {
                            min-height: 45px;
                            max-width: 600px;
                            width: 80%;
                            resize: vertical;
                            padding: 10px;
                            opacity: 0;
                            transform: translateY(1em);
                            transition: 0.5s ease-out;
                        }
                    }
                }
            }
            .submitButtonDiv {
                overflow: hidden;
                opacity: 0;
                transform: translateY(1em);
                transition: 1s ease-out;
                .submitFormButton {
                    margin: 0 auto;
                    max-width: 750px;
                    width: 7rem;
                    min-width: 150px;
                    min-height: 40px;
                    border-radius: 20px;
                    border: 3px solid var(--white);
                    color: var(--white);
                    background: var(--black);
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    transition: 0.2s ease-in-out;
                    overflow: hidden;
                    font-family: var(--paragraphFontFamily);
                    span {
                        position: absolute;
                        margin: 0 auto;
                        transition: 0.5s ease-in-out;
                    }
                    .display {
                        opacity: 1;
                    }
                    .onHover {
                        color: var(--red);
                        transform: translateY(100%);
                        opacity: 0;
                    }
                    &:hover .display {
                        transform: translateY(-100%);
                        opacity: 0;
                    }
                    &:hover .onHover {
                        transform: translate(0%);
                        opacity: 1;
                    }
                    &:hover {
                        background: var(--white);
                    }
                }
            }
            @media screen and (max-width: 900px) {
                width: 95%;
                padding: 1em 0.25em;
                .quizNavigation {
                    i {
                        margin: 0em;
                        padding: 5px;
                    }
                    .injectedQuestions {
                        padding: 0em;
                        .questionContainer {
                            padding: 0.5em;
                            margin: 0.5em;
                            label {
                                text-align: center;
                            }
                            textarea {
                                width: 95%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.completionPageContainer {
    display: none;
    justify-content: center;
    position: relative;
    overflow: hidden;
    min-height: 50vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(23,23,23,0.9) 0%, rgba(0,0,0,1) 100%);
    .quizCompletionText {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 2em;
        transform: translateY(5em);
        opacity: 0;
        transition: 1.2s ease-out;
        cursor: default;
        .earnedText {
            color: var(--white);
            width: 100%;
            text-align: center;
            font-size: 8vmin;
            span {
                text-shadow: 2px 2px 1px var(--red), -2px -2px 1px var(--red);
            }
        }
        p {
            color: white;
            font-size: 1.3rem;
            text-align: center;
            max-width: 500px;
            margin: 2em;
        }
        .quizTerms {
            font-size: 0.9rem;
        }
    }

    // This is for the firework SCSS
    .fireworkContainer {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
    }
    $particles: 50;
    $width: 500;
    $height: 500;

    // Create the explosion...
    $box-shadow: ();
    $box-shadow2: ();
    @for $i from 0 through $particles {
    $box-shadow: $box-shadow,
                random($width)-$width / 2 + px
                random($height)-$height / 1.2 + px
                hsl(random(360), 100, 50);
    $box-shadow2: $box-shadow2, 0 0 #fff
    }
    @mixin keyframes ($animationName) {
        @-webkit-keyframes #{$animationName} {
            @content;
        }

        @-moz-keyframes #{$animationName} {
            @content;
        }

        @-o-keyframes #{$animationName} {
            @content;
        }

        @-ms-keyframes #{$animationName} {
            @content;
        }

        @keyframes #{$animationName} {
            @content;
        }
    }

    @mixin animation-delay ($settings) {
        -moz-animation-delay: $settings;
        -webkit-animation-delay: $settings;
        -o-animation-delay: $settings;
        -ms-animation-delay: $settings;
        animation-delay: $settings;
    }

    @mixin animation-duration ($settings) {
        -moz-animation-duration: $settings;
        -webkit-animation-duration: $settings;
        -o-animation-duration: $settings;
        -ms-animation-duration: $settings;
        animation-duration: $settings;
    }

    @mixin animation ($settings) {
        -moz-animation: $settings;
        -webkit-animation: $settings;
        -o-animation: $settings;
        -ms-animation: $settings;
        animation: $settings;
    }

    @mixin transform ($settings) {
        transform: $settings;
        -moz-transform: $settings;
        -webkit-transform: $settings;
        -o-transform: $settings;
        -ms-transform: $settings;
    }
    .pyro > .before, .pyro > .after {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        box-shadow: $box-shadow2;
        @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
    }
        
    .pyro > .after {
        @include animation-delay((1.25s, 1.25s, 1.25s));
        @include animation-duration((1.25s, 1.25s, 6.25s));
    }
            
    @include keyframes(bang) {
        to {
            box-shadow:$box-shadow;
        }
    }
        
    @include keyframes(gravity)  {
        to {
            @include transform(translateY(200px));
            opacity: 0;
        }
    }
        
    @include keyframes(position) {
        0%, 19.9% {
            margin-top: 10%;
            margin-left: 40%;
        }
        20%, 39.9% {
            margin-top: 40%;
            margin-left: 30%;
        }
        40%, 59.9% {  
            margin-top: 20%;
            margin-left: 70%
        }
        60%, 79.9% {  
            margin-top: 30%;
            margin-left: 20%;
        }
        80%, 99.9% {  
            margin-top: 30%;
            margin-left: 80%;
        }
    }
}