.dashboardContainer {
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(23,23,23,0.9) 0%, rgba(0,0,0,1) 100%);
    position: relative;
    padding-left: 20px;
    // open and close the panel
    .openCloseCategoriesDiv {
        width: 120px;
        height: 30px;
        z-index: 4;
        position: absolute;
        left: -65px;
        top: -14px;
        border-top: 1px solid var(--white);
        border-right: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
        border-radius: 25px;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        background: var(--black);
        cursor: pointer;
        transition: 0.5s;
        i {
            color: var(--white);
            z-index: 2;
            align-self: center;
            transition: 0.5s;
        }
    }
    .openCategoryList {
        left: -10px;
    }
    .containerSignDiv {
        border: 1px solid var(--white);
        width: fit-content;
        position: absolute;
        transform: rotate(-90deg);
        top: 64px;
        left: -65px;
        border-bottom-left-radius: 25px;
        transition: 0.5s;
        background: var(--black);
        p {
            color: var(--white);
            padding: 10px;
            padding-top: 20px;
            cursor: pointer;
        }
    }
    // The panel for the data selection
    .chartSelectionPanelContainer {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        width: 200px;
        padding: 10px;
        padding-top: 25px;
        max-height: 80vh;
        overflow-y: scroll;
        border-top: 1px solid var(--white);
        border-right: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0px 0px 20px 5px var(--black), inset 0px 0px 20px 5px var(--black);
        transition: 0.5s;
        transform: translateX(-100%);
        background-color: var(--black);
        z-index: 3;

        // remove scroll bar
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        .chartSelectionPanel {
            display: flex;
            flex-direction: column;
            .dataCategoryContainer {
                display: flex;
                flex-direction: column;
                .categoryHeadingContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    cursor: pointer;
                    transition: 0.5s;
                    h3 {
                        color: var(--white);
                        padding: 10px;
                        padding-left: 5%;
                        transition: 0.5s;
                    }
                    i {
                        color: var(--white);
                        align-self: center;
                    }
                    .fa-arrow-up-short-wide {
                        display: none;
                    }
                    &:hover h3 {
                        transform: translateX(5px);
                    }
                }
                .chartButtonContainer {
                    flex-direction: column;
                    transform: translateX(-100%);
                    transition: 0.2s;
                    height: 0px;
                    display: flex;
                    button {
                        display: flex;
                        justify-content: flex-start;
                        transition: 0.3s;
                        text-align: left;
                        background: none;
                        color: var(--white);
                        border: none;
                        cursor: pointer;
                        font-family: var(--paragraphFontFamily);
                        font-size: 0.9rem;
                        padding: 5px;
                        &:hover {
                            transform: translateX(5px);
                        }
                    }
                }
                .opened {
                    transform: translateX(0%);
                    height: 100%;
                }
            }
        }
    }

    // start of the data pages
    .dataContainer {
        .dataPageContainer {
            .dataSubPageContainer {
                div {
                    max-width: 1200px;
                    margin: 0 auto;
                    canvas {
                        width: 100%;
                        max-width: 1200px;
                        max-height: 500px;
                        @media screen and (max-width: 600px) {
                            & {
                                max-height: 350px;
                            }
                        }
                    }
                    .chartOptions {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 1em 1em;
                        max-width: 1000px;
                        margin: 0 auto;
                        .timeframeSelectionDiv {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                            color: white;
                            list-style: none;
                            display: flex;
                            flex-direction: row;
                            gap: 0.5rem;
                              .timeframeList {
                                max-width: 150px;
                              }
                          }
                        .logOptionDiv {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            div {
                                margin: 0;
                            }
                            .chartLogAutoButton {
                                padding: 0em 15px;
                                border: none;
                                color: white;
                                border-radius: 5px;
                                cursor: pointer;
                                transition: 0.5s; 
                            }
                            .autoChartOption {
                                background-color: rgb(128, 128, 128, 0.6);
                            }
                            .logChartOption {
                                background-color: rgb(128, 128, 128, 0.2);
                            }
                        }
                        @media screen and (max-width: 500px) {
                            & {
                                flex-direction: column;
                                gap: 15px;
                            }
                            .timeframeSelectionDiv {
                                justify-content: center;
                                margin: 0 auto;
                            }
                            .logOptionDiv {
                                justify-content: center;
                                margin: 0 auto;
                                gap: 10px;
                            }
                        }
                    }
                }
            }
        }
        // Div for the Markets > Price page
        .marketPriceDiv {
            width: 100%;
            padding: 1em 2em;
            p {
                color: var(--white);
                padding-left: 4em;
            }
            h1 {
                color: var(--white);
                padding-left: 2em;
            }
        }
    }

}